<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{writerTemp}}
    </div>
    <div class='panel-body'>
        <form *ngIf="loaded">
            <div>
                <p>Author username: {{author.username}}, Author name: {{author.firstName + " " + author.lastName}}</p>
                <div>
                    <p>Work on one of the following books: </p>
                    <select name="Books" [(ngModel)]="currentBookTitle">
                        <option *ngFor="let book of books">{{book.title}}</option>
                    </select>
                    <input type="button" value="Go">
                    <p>OR:</p>
                </div>
                <div *ngIf="books.length<1">
                    <p>no books for author {{author.username}}</p>
                </div>
                <input type="button" value="Write a new one!" [routerLink]="['/createabook',author.username]">
            </div>
        </form>
    </div>
</div>
