<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{writerTemp}}
    </div>
    <div class='panel-body'>
        <form *ngIf="loaded">
            <p>Select an author to write for...</p>
            <select name="Authors" [(ngModel)]="authorUsername">
                <option *ngFor="let author of authors">{{author.username}}</option>
            </select>
            <div *ngIf="authorOk">
                <p>Author username: {{currentAuthor.username}}, Author name: {{currentAuthor.firstName + " " + currentAuthor.lastName}}</p>
                <div *ngIf="booksOk">
                    <p>Work on one of the following books: </p>
                    <select name="Books" [(ngModel)]="currentBookTitle">
                        <option *ngFor="let book of books">{{book.title}}</option>
                    </select>
                    <input type="button" value="Go">
                    <p>OR:</p>
                </div>
                <div *ngIf="!booksOk">
                    <p>no books for author {{currentAuthor.username}}</p>
                </div>
                <input type="button" value="Write a new one!">
            </div>
        </form>
    </div>
</div>
